<%- include("header") -%>


<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box flex" >
      <h3 class="nametitle" >Hi I'm Samir Morey </h3>
      <img class="profile-pic" src="https://lh3.googleusercontent.com/-6qxSGQaNlmA/Xace_uJTE0I/AAAAAAAAAIQ/eN4kZegSKSYMv6jTftNN-Bt0tm1Z40SoQCEwYBhgLKtQDAL1OcqxcKtEDViiCGEVOshXO7EEpLh0BYRSKCUB4KnIb0RPpL0fFEeReJdFieZ2Dp5Ka2xOOWYuf7rQwHgh5WLzOHtFj-kcVgwkzhQnJy8O0iO95fF7PA1gXgMslygrn_PAxhpltQgpXtAxBxQYIPJwCucWJSyXAx1oo1O71AUgypzCNyf8CKPenO3k9MAk7nutuiTHrr3cRCAxFZMKj6qqLTJBFA5JXqI0OX6EtN9TP7BC89gHmRuXoxntE5w85XWEprISEtNp6dmeSCOgXoB06-gmEJg4WZTq3ycJgFS12Kr9v6iuUXTToQxTLkQtdlGi-5_8ofuKhuvcM55zc3ditEnGiZQAA2fgThMhtNQkU9ZvvFPlYPnuuZCajcdJ9_obiFHlXc0Qv1Zf0oDNL2EVy7tvjZk7XIum9GT5o4b89zU6rM9hrzE2l98WxHXkEhiafMfat9iBU2Vfx1g4D24sQwLwGtvCH8cO8J1T8-VJ8yHScQe9A04hsnd9EOAwAdPqIlY2hTdYtLq8KMcEQCYImS-yeJilOMgFibs7c-HIpJFEpJRdF7yG_PB17D47KX9a1-6zTjA-rFwX14USkS-4Pfg5yrPaXmHScFUjdxy3PHAKrML3Bw_4F/w140-h140-p/2019-10-16.jpg" alt="profilepic">
      <p>An Advanced Programmer and Full Stack Web Developer making projects for fun😎</p>
      <div>
      <p>You can see my more exciting projects on my GitHub Profile</p>
      <a href="https://github.com/samirmorey" target="_blank"><i class="nametitle fa fa-github fa-4x" style="color: #4f67cf;"></i></a>
    </div>
    </div>

<%- include("footer") -%>
