<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box flex">
  <p>
    An Intermediate Programmer and Full Stack Web Developer making projects for
    fun😎
  </p>
</div>

<%- include("footer") -%>
