<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List | <%= listTitle %></title>
  <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <a  class="about box" id="heading" href=<%= linktobeserved %>><%= linkName %></a> 