<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Todolist</title>
    <meta charset="utf-8" />
    
    
  <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   
    <body>
      <h1 class="login-box" id="heading">To Continue! Please Login</h1>
      
          <a class="btn success" href="/auth/google">
           
           Sign in with google
         </a>
         
        
      <!-- </button> -->

      

</body>

<footer>
  Copyright 2020 ❤️ Samir! 
</footer>

</html>
