<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Todolist</title>
    <meta charset="utf-8" />
    
    
  <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    /> -->
    
    <!-- <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">WELCOME TO YOUR TODOLIST</p>
        </div>
      </div>
    </nav> -->
    <!-- class="btn btn-lg btn-social btn-google" -->
    <body>
      <h1 class="login-box" id="heading">To Continue! Please Login</h1>
      <!-- <button class="item-login" href="/auth/google"> -->
      
          
        <!-- <button class="btn success" href="/auth/google">  -->
          <a class="btn success" href="/auth/google">
           
           Sign in with google
         </a>
         
        
      <!-- </button> -->

      

</body>

<footer>
  Copyright 2020 ❤️ Samir! 
</footer>

</html>
