html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  object-fit: cover;
}
.about {
  padding: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nametitle {
  padding: 10px 0px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a683e3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.login-box {
  /* padding-bottom: 50px;
  max-width: 400px;
  height: 200px;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 30px 39px 23px -23px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(
    70deg,
    rgb(233, 235, 235) 50%,
    #aefcec 50%
  ); */
  max-width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  height: 2.5rem;
  color: #fff;
  text-align: center;
}

.item-login {
  min-height: 70px;
  width: 40rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  margin: 50px auto;
}
.btn {
  border: none;
  background-color: inherit;
  padding: 10px 10px;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
  width: 300px;
  background-color: white;
  margin: auto 460px;
  border-radius: 20px;
  text-align: center;
}
.btn:hover {
  background: #b1b3bd;
}

.success {
  color: #a683e3;
}
